<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>

<h1> About Weather</h1>
<p>The temperature is {{Temp}}</p>
<p>The Humidity is {{Humidity}}</p>

</body>



</html>
