<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>
 <div class="main-content">
<h1> {{>header}}</h1>
<p>The temperature is {{Temp}}</p>
<p>The Humidity is {{Humidity}} </p> 
<img class="potrait" src="/img/bg.jpg">
</div>
</body>

<br>{{>footer}}

</html>
