<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>
<div class="main-content">
<h1> {{>header}} </h1>
<p>The purpose of this page is {{title}} <br><br><br>{{>footer}}</p>

</body>
</div>


</html>
