<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css"> 
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        <h1> {{>header}}</h1>
    </div>

<p>Created by {{name}} <br><br><br>{{>footer}}</p>

</body>



</html>
